<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shayari blog</title>
    </head>
    <body>
        <div class="container">
            <h1>First blog</h1>
            {% for post in posts %}
                <h2>{{ post.title }}</h2>
                <h3>Posted on {{ post.date }} by {{ post.author }}</h3>
                <p>{{ post.bodytext }}</p>
            {% endfor %}
        </div>
    </body>
</html>